{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/tools.cli {:mvn/version "1.0.214"}}
 :paths ["src" "data"]
 :aliases {:socket {:jvm-opts ["-Dclojure.server.repl={:port,50505,:accept,clojure.core.server/repl}"]
                    :extra-paths ["dev"]}
           :dev {:extra-paths ["dev"]}
           :uberjar {:extra-deps {com.github.seancorfield/depstar {:mvn/version "2.1.303"}}}
           :outdated {;; Note that it is `:deps`, not `:extra-deps`
                      :deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
                      :main-opts ["-m" "antq.core" "--no-diff"]}}}